body {
    padding: 0px 0px 0px 0px;
}

main {
    padding: 16px;
}

header {
    background-color: rgb(230, 88, 53);
    color:aliceblue;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(89, 156, 89);
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(4, 400px);
}

h1{
    color: darkolivegreen;
}

tr:nth-child(even) {
    background-color: #ccc;
}
